* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* MY STYLES BY NITESH SWARNAKAR */
.header_section {
  background-image: linear-gradient(to right, #f8fffe, #d6f5ec);
}

.topNav {
  height: 20vh;
  color: black;
  background-color: ;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  gap: 3rem;
}

.nav-links {
  /* background-color: white; */
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.main-section {
  color: black;
  background-color: white;
  margin-top: 56px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.card {
  /* display: flex; */
}

.card-body {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* ABOUT US PAGE */

.about-us {
  padding: 2rem 1rem;
  text-align: center;
  width: 1200px;
  margin: 30px auto;
}

.about-us h2 {
  font-size: 3rem;
}

.about-us p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* EVENTS PAGE DESIGN STYLES */

.events-container {
  align-items: center;
  height: 60vh;
  justify-content: center;
  gap: 3rem;
  display: flex;
}

.events_card {
  width: 500px;
  overflow: hidden;
}

.events_card_link p {
  margin-top: -12rem;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px black;
  color: white;
  font-size: 3rem;
}

/* CATEGORY EVENT PAGE  */
.category-event-container {
  padding-top: 4rem;
}

.category-event-container .container h2 {
  font-size: 3rem;
}

.category-events-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.container-bigger {
  margin: auto;
  width: 1500px;
}

.container-bigger h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.category-event {
  width: 27%;
}

.category-event h1 {
  padding: 0.5rem 1.4rem;
}

.category-event p {
  padding: 00 1.4rem;
}

/* INDIVIDUAL EVENT PAGE  */

.event-page {
  padding-top: 4rem;
}

.event-page h1,
.event-page p {
  padding: 0 2rem;
}
